<div class="row">
    {% for project in projects%}
    <div class="col-md-4">

        <a href="{{project.get_absolute_url}}" class="portfolio-card">
            <img src="{{project.image.url}}" class="portfolio-card-img" style="height: 350px;" alt="{{project.name}}" loading="lazy">
            <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>{{project.name}}</h4>
                                    <p class="font-weight-normal">About : {{project.category}}</p>
                            </span>
                        </span>
        </a>
    </div>
    {% endfor%}
</div><!-- end of row -->